{% extends 'flight/layout.html' %}

{% block body %}

<div class="container">
  <h3>All the Flight</h3> 

  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Flight ID</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
        <th scope="col">Duration (hrs)</th>
      </tr>
    </thead>
    <tbody>
        {% for flight in flights  %}
      <tr>
        <th scope="row"><a href="{% url 'flight:Oneflight' flight.id %}">{{flight.id}}</a></th>
        <td>{{flight.origin}}</td>
        <td>{{flight.destination}}</td>
        <td>{{flight.duration}}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  

</div>


{% endblock body %}